<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'news/css/bootstrap.css' %}">
	<title>NEWS</title>
</head>
<body>
	<div class="container bg-white">
		<div class="jumbotron jumbotron-fluid bg-muted">
  			<h1 class="display-4">Hello, world!</h1>
  			<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  			<hr class="my-4">
  			<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  			<p class="lead">
  				{% csrf_token %}
    		<a class="btn btn-primary btn-lg" href="{% url 'getnews' %}" role="button">Read News</a>
  			</p>
		</div>
	</div>	


	<script src="{% static 'news/js/jquery.js' %}"></script>
	<script src="{% static 'news/js/popper.js' %}"></script>
	<script src="{% static 'news/js/bootstrap.js' %}"></script>
</body>
</html>