<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'a_tweet/css/bootstrap.css' %}">
	<title>Document</title>
</head>
<body class="bg-light">
	<div class="continer">
		<h1 class="alert alert-dark bg-muted text-dark text-center">SENTIMENT ANALYSIS</h1>
	    {% block content %}


	
	    {% endblock content %}
	</div>

	<script src="{% static 'a_tweet/js/jquery.js' %}"></script>
	<script src="{% static 'a_tweet/js/popper.js' %}"></script>
	<script src="{% static 'a_tweet/js/bootstrap.js' %}"></script>
</body>
</html>